doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Invoice
    link(href="/styles/styles.css", rel="stylesheet", type="text/css", media="all")
  body
    section.kud-Sender
      h2.kud-Sender-heading Erwann Mest
      p.kud-Sender-title Developer
      p 72 bis Avenue de Flandre Immeuble C
      p 75019 PARIS
      p kud.io

    section.kud-Titles
      p.kud-Titles-heading Facture n° 2014-04
      p Date : 04 avril 2013

    section.kud-Addressee
      p.kud-Addressee-heading Cafffeine
      p 47 rue Marcel Dassault
      p 92100 Boulogne-Billancourt

    div.kud-Separator

    section.kud-Content
      h2.kud-Content-heading Objet du devis
      p Création de la Homepage «Dassault - 50 years of passion and innovation»

      h2.kud-Content-heading Livrables
      p 1 pages HTML comprenant les spécifications techniques suivantes :
      ul
        li CSS 3
        li Utilisation de la bibliothèque jQuery pour les animations Javascript - Formats des images adaptés en fonction des besoins : PNG, JPG, GIF

      h2.kud-Content-heading Cession des droits d'auteur
      p Droit d’exploitation de la création valable sur le territoire français, sans limite de temps.

      table.kud-Details
        tr
         th Prestation
         th Estimatif temps
         th Total
        tr
          td Création Homepage
          td 3 jours
          td 1500€
        tr.kud-Details-total
          td Total
          td
          td 1500€

    div.kud-Separator

    section.kud-LittleSentence
      p TVA non applicable, article 293B du code général des impôts.
